<div class="news">
  <h2>news</h2>
  {% if site.data.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.data.news %}
      {% for item in news limit: site.news_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%b, %Y" }}</th>
          <td>
           {{ item.headline }}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
