<div class="news">
  <h2>news <small><span onClick="toggle('hide');" class="span-link">(full list)</span></small> </h2> 

   <script>
        function toggle(thisname) {

           tr=document.getElementsByTagName('tr')

           for (i=0;i<tr.length;i++){
              if (tr[i].getAttribute(thisname)){
                 if ( tr[i].style.display=='none' ){
                    tr[i].style.display = '';
                 }
              else {
                 tr[i].style.display = 'none';
                 }
              }
           }
        }
   </script>
   
  {% if site.data.news  %}  
  <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.data.news %}
      {% for item in news %}
        {% if item.show == 1%}
        <tr>
        {% else %}
        <tr hide="Yes" style="display: none;">
        {% endif %}
          <th scope="row">{{ item.date | date: "%b, %Y" }}</th>
          <td>
            {{ item.headline }}
          </td>
        </tr>
      {% endfor %}
      </table>
  </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
